@font-face {
  font-family: "nyt-cheltenham";
  src: url("../fonts/cheltenham-italic-700.f99a0459024509f157a3352e5de4f873.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("../fonts/cheltenham-normal-300.7ea91ebd036309e1fe756ee3aab272da.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-300.bc7be4c5d8cacb780f896c5cbe0c0d7f.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "nyt-franklin";
  src: url("../fonts/franklin-normal-800.fdc7cad17deeec2db1fe2f9f8c0520ed.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "nyt-karnak";
  src: url("../fonts/karnak-cursive-200.c9e3af78fc17d90acd4c1c556db57338.woff2")
    format("woff2");
  font-style: cursive;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "nyt-karnak";
  src: url("../fonts/karnak-normal-300.e92a0bf485a4d57db75604c4bd7ff52a.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "nyt-karnak";
  src: url("../fonts/karnak-normal-900.7552fe3fdd9952aeda91e6c5a2adc59f.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
